<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Forward PHP to XAMPP" stopProcessing="true">
          <match url="^(.+\.php)(.*)$" />
          <action type="Rewrite" url="http://localhost:8080/cometnews/{R:1}{R:2}" appendQueryString="true" />
        </rule>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="(.*)\.(js|css|svg|ttf|woff|woff2|ico|png|jpg|jpeg|gif|json)" />
          <action type="None" />
        </rule>
        <rule name="ReactRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>